.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.header > ul {
  list-style-type: none;
  display: flex;
  margin: 10px;
}

.header > ul > li {
  padding: 15px;
}

.logo {
  width: 60px;
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
}

.card > img {
  width: 100%;
}

.body {
  display: flex;
  flex-wrap: wrap;
}
